html, body {
    height: 100%;
    width: 100%;
    background-color: steelblue;
    margin: auto;
    overflow: hidden;
    font-family: Verdana sans-serif;
}

body {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}