{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Récapitulatif</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        let moyenne = parseFloat(0);
        let moy_finale = parseFloat(0);
        let cpt = parseFloat(0);
    </script>
    <link rel="stylesheet" href="{% static 'css/recap.css' %}">
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
<script src="{% static 'javascript/recap_fill_data.js' %}"></script>
</html>